Source: libpod-weaver-section-support-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Dominique Dumont <dod@debian.org>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libmodule-build-perl,
               perl
Build-Depends-Indep: libmoose-perl <!nocheck>,
                     libpod-weaver-perl <!nocheck>,
                     libppix-documentname-perl <!nocheck>
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libpod-weaver-section-support-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libpod-weaver-section-support-perl.git
Homepage: https://metacpan.org/release/Pod-Weaver-Section-Support
Rules-Requires-Root: no

Package: libpod-weaver-section-support-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends},
         libmoose-perl,
         libpod-weaver-perl,
         libppix-documentname-perl
Description: Dist::Zilla plugin to add a SUPPORT section to your POD
 Pod::Weaver::Section::Support is a Dist::Zilla plugin to that will
 produce a hunk of pod that lists the various ways to get support for
 your module.
 .
 If you have Dist::Zilla::Plugin::Repository enabled in your dist.ini, be sure
 to check the repository_link attribute!
 .
 The generated support section is added ONLY to the main module's POD,
 because it would be a waste of space to add it to all modules in your
 dist.
